* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.big-container {
    /* background-color: #faebd7;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center; */
    margin: 5% auto 0;
    max-width: 800px;
}


.tabs {
    display: flex;
    position: relative;
    /* justify-content: space-between; */
}

.tabs .line  {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0px;
    height: 6px;
    border-radius: 15px;    
    background-color: #c23564;
    transition: all 0.2s ease;

}

.tab-item {
    min-width: 80px;
    padding: 16px 20px 11px 20px;
    font-size: 1.7rem;
    text-align: center;
    color: #c23564;
    background-color: #fff;
    border-top-left-radius: 15px ;
    border-top-right-radius: 15px ;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    opacity: 70%;
    cursor: pointer;
    transition: all 0.5s ease;
    /* height: 50px; */
    /* line-height: 50px; */
    /* display: block; */
    /* flex-grow: 1; */
    /* justify-content: center;
    align-content: center; */
}

.tab-item:hover {
    opacity: 1;
    background-color: rgba(194, 53, 100, 0.05);
    border-color: rgba(194, 53, 100, 0.1);
    /* background-color: pink;
    border-top-left-radius: 15px ;
    border-top-right-radius: 15px ;
    opacity: 50%; */

}

.tab-item.active {
    /* background-color: #faebd7;
    cursor: pointer;
    border-top-left-radius: 15px ;
    border-top-right-radius: 15px ; */
    opacity: 100%;
}

/* .line:hover {
    width: 300px;
} */

/* Text Pane */

.pane-container {
    margin-top: 20px;
}

.pane-item h2 {
    font-size: 1.8rem;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1.8px;
}

.pane-item p {
    font-size: 1.3rem;
    padding: 5px 10px;
}

.pane-item {
    color: #333;
    display: none;
}

.pane-item.active {
    display: block;
}